<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
	
	<display-name>Pushraven</display-name>
	
    <servlet>
        <description>
        </description>
        <display-name>pushraven</display-name>
        <servlet-name>pushraven</servlet-name>
        <servlet-class>kz.ugs.webpush.pushall.Application</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>  

    <servlet-mapping>
        <servlet-name>pushraven</servlet-name>
        <url-pattern>/pushraven</url-pattern>
    </servlet-mapping>
</web-app>